/*fonts*/
@font-face {
    font-family: silkscreen;
    src: url(/fonts/silkscreen.ttf) format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: lunchtime;
    src: url(../fonts/lunchtime.ttf) format("truetype");
    font-weight: 100;
    font-style: normal;
}

/*colors*/
:root {
    --background-color: #A0CDE6;
    --textbox-background: #43B047;
    --primary-text: #ffffff;
    --stroke: #000000;
    --button: #FBD000;
    --hover: #E0CF45;
    --logo: #E52521;
    --accent1: #F096BE; 
    --accent2: #17419A;
    --accent3: #5D2E8E;
}

/*image as background*/
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('images/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.background { 
    height: max-content;
    width: max-content;
}

/*"Super Mario Zodiac World" HEADER*/
h1 {
    color: var(--primary-text);
    font-family: silkscreen;
    font-size: 46px;
    text-align: center;
    -webkit-text-stroke: 3px var(--stroke);

    background-color: var(--logo);
    border: 3px solid var(--stroke);
}

/*enter your birthday*/
.birthday_title {
    color: var(--logo);
    font-family: lunchtime;
    font-size: 32px;
    text-align: center;

    animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

.container {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date {
    background-color: var(--primary-text);
    font-family: lunchtime;
    font-size: 14px;
    width: 150px;
    height: 25px;
    border-radius: 10px;
}

/*question button*/
.image-button {
    background-color: transparent; 
    border: none; 
    padding: 0; 
    display: inline-block; 
    cursor: pointer; 

    position: absolute;
    right: 0;
    bottom: 0;
}
  
.image-button img {
    width: 50px;
    height: 50px;
}
  
.image-button:hover img {
    opacity: 0.8; 
}

/*info pop up*/
.hidden {
    background-color: var(--accent1);
    font-family: lunchtime;
    font-size: 14px;
    opacity: 0.8;
    text-align: center;
}
  
/*submit*/
.button {
    background-color: var(--button);
    color: var(--primary-text);
    font-family: silkscreen;
    font-size: 24px;
    cursor: pointer; 

    width: 150px;
    height: 50px;
    margin-top: 1rem;
    border-radius: 10px;
    border-color: var(--primary-text);
}

.button:hover {
    opacity: 0.8;
}

.zodiacs {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    align-items: center;
}

/*coins*/
.flip-container {
  perspective: 1000px; 
  width: 75px; 
  height: 75px; 
  align-items: center;
}

.flip-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s ease-in-out;
}

.flip-front, .flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-front {
  transform: rotateY(0deg);
}

.flip-back {
  transform: rotateY(180deg);
}

.flip-container:hover .flip-inner {
  transform: rotateY(-180deg);
}
